doctype html
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title Playback Media Server
		link(rel="stylesheet", href="/css/style.css")
		script(type="text/javascript", src="/js/lib/require.js", data-main="/js/bootstrap.js")
	body
		div#wrapper.container-fluid
			header
				h1
				ul.main.hidden-sm.hidden-xs
					li.movies
						a(href="/#media/movie") Movies
					li.tvshows
						a(href="/#media/tv") TV Shows
					li.notifications
						a
					li.settings
						a(href="/#settings")
			div#content.row
			script#media-info(type="text/html")
				div.poster.col-md-3
					div.img
					|<span class="status <%= status() %>"><%= statusText() %></span>
				div.info.col-md-9.col-sm
					div.head.row
						div.name.col-md-10.col-sm-12.col-xs-12
							h3!='<%= title %>'
							span.year!='<%= availableDate.format(\'YYYY\') %>'
						span.rating.col-md-2.col-sm-12.col-xs-12
					div.row
						div.controls.col-md-9.col-sm-9.col-xs-8
							div.inner
								a.quality 1080p
								a.refresh
								a.toggle-watched.unwatched
						span.release.col-md-3.col-sm-3.col-xs-4!='<%= availableDate.format(\'Do MMMM YYYY\') %>'
					div.description!='<%= overview %>'